body, html{
    height: 100%;
    margin: 0px;
}

body{
    background-color: lightgrey;
    font-family: helvetica;
}

.header{
    margin:-5px;
    text-align: center;
}

nav li{
    display: inline;
    margin: 2%
}

nav ul{
    background-color: white;
    margin: 0;
    list-style-type: none;
    width: 100%;
    padding: 15px;
    text-decoration: none;
}

nav a{
    color: grey;
    text-decoration: none;

}

nav a:hover{
    color: orangered;
}

#main{
    width: 70%;
    float: left;
    height: 100%;
    padding: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

main{
    overflow: auto;
}

.main-articles ul{
    margin-top: -10px;
    margin-left: 12%;
}

.side-articles, .main-articles{
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 0px;
    
}

.main-articles{
    background-color: rgb(129, 161, 81);
}
.main-articles figcaption{
    text-align:center;
    padding:5px;
}

.main-articles h1{
    text-align: center;
}

.main-articles p{
    text-align:left;
    margin-right:12%;
    margin-left:14%;
}

.main-images{
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 
}

#side{
    width: 25%;
    float: left;
    height: 100%;
    padding: 20px;
}

.side-articles{
    background-color: rgb(127, 166, 218);
    text-align: center;   
}

#profile-image{
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side-articles ul{
    list-style-type: none;
    padding-right: 30px;
}


form{
    margin-top: -35px;
    text-align: left;
}

textarea, input{
    background-color: lightgrey;
    padding: 5px;
    margin: 2px;
}

footer{
    bottom: 0px;
    width: 100%;
    background-color: white;
    height: 5vh;
    margin-top: 0px;
}

footer div{
    text-align: center;
    color: black;
    
}

footer hr{
    margin-top: 0px;
    height: 12px;
    border: 0px;
}