body, html{
    height: 100%;
    margin: 0px;
}

body{
    background-color: black;
    font-family: helvetica;
}

.header-text{
    color: white;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .9;
    font-size: 30px;
    }

.header-image{
    background-image: url("../images/wireframe_2.jpg");
    height: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;   
}

nav li{
    display: inline;
    margin: 2%
}

nav ul{
    background-color: black;
    margin: 0;
    list-style-type: none;
    width: 100%;
    padding: 15px;
    text-decoration: none;
    color: white;
}

nav a{
    color: white;
    text-decoration: none;

}

nav a:hover{
    color: cyan;
}

#main{
    width: 70%;
    float: right;
    height: 100%;
    padding: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

main{
    overflow: auto;
}

.main-articles ul{
    margin-top: 10px;
    margin-left: 12%;
}

.side-articles, .main-articles{
    padding: 5px;
    margin-bottom: 2%;
    }

.main-articles{
    background-color: grey;
    border: 2px solid cyan;
    border-radius: 20px;
    padding: 0%;
    box-shadow: 5px 5px 10px cyan; 
}
.main-articles figcaption{
    text-align:center;
    padding:5px;
}

.main-articles h1{
    text-align: center;
}

.main-articles p{
    text-align:left;
    margin-right:12%;
    margin-left:14%;
    color: white;
}

.main-images{
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 20px;
    /*border: 1px solid white; */
}

#side{
    width: 20%;
    float: right;
    height: 100%;
    padding: 20px;
}

.side-articles{
    background-color: rgb(134, 132, 132);
    text-align: center;
    border-radius: 20px;
    border: 2px solid grey;
}

#profile-image{
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    border-radius: 25px;
    margin-top:20px;
    
}

.side-articles ul{
    list-style-type: none;
    padding-left: 30px;
}

form{
    margin-top: -35px;
    text-align: left;
    
}

textarea, input{
    background-color: lightgrey;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
    border: 2px solid cyan;
}

footer{
    bottom: 0px;
    width: 100%;
    background-color: darkslategrey;
    height: 5vh;
    margin-top: 0px;
}

footer div{
    text-align: center;
    color: black;
    
}

footer hr{
    margin-top: 0px;
    height: 12px;
    border: 0px;
}